<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Post</legend>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <% if @post.year? && @post.month? && @post.day? %>
        <%= select_date Date.parse(@post.date), :order => [:year, :month, :day], :prefix => 'post', :use_month_numbers => true %>
      <% else %>
        <%= select_date Time.now, :order => [:year, :month, :day], :prefix => 'post', :use_month_numbers => true %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'span7' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :categories, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :categories, Post.load_categories, :include_blank => true, :class => 'span1' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'span3' %>
      <span class="help-inline">Separeted by commas (eg: tag1, tag2, tag3)</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :published, :class => 'control-label' %>
    <div class='controls'>
      <%= f.check_box :published %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class='controls'>
      <%= f.check_box :comments %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rss, :class => 'control-label' %>
    <div class='controls'>
      <%= f.check_box :rss %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', posts_path, :class => 'btn' %>
  </div>
</fieldset>