<!DOCTYPE html>
<html>
<head>
  <title>OctopressAdmin</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Octopress Admin</a>
        <div class="nav-collapse">
          <ul class="nav">
            <% if current_user %>
              Logged in as <%= current_user.email %>.
              <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
